.member-card {
    padding: 30px;
    background-color: #F2F3EE;
    border-radius: 20px;
}

.member-card__header {
    margin-bottom: 20px;
}

.member-card__post {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
}

.member-card__name {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.member-card__content {
    display: flex;
    gap: 30px;
}

.member-card__img {
    width: 220px;
    height: 330px;
    border-radius: 12px;
}

.member-card__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.member-card__quote {
    quotes: none;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

.member-card__text {
    font-size: 14px;
    line-height: 18px;
    text-align: right;
}

.member-card__links {
    display: flex;
    margin-top: auto;
    gap: 10px;
}

.member-card__link {
    width: 50%;
    padding: 7px;
    background-color: #D6D2C4;
    border-radius: 40px;

    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.member-card__link--secondary {
    background-color: transparent;
}

.member-card--text-centr .member-card__quote, .member-card__text{
    text-align: center;
}